.git
target
coverage
logs
.idea
test
node_modules
*.tgz

public
.tmp
.sass-cache
bower_components
*.iml

npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/

.ebextensions/*.private.config

src

.vagrant

build
report


test-results.xml
