node_modules
public
.tmp
.sass-cache
.idea
bower_components
dist
src/server/config/local.env.js
*.iml
coverage

npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.sample
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.ebextensions/*.private.config

src/client/components/bootstrap-override/*
!src/client/components/bootstrap-override/.empty

src/client/app/app.constants.js

src/server/config/local.env/*
!src/server/config/local.env/.empty

src/client/assets/templates/jumbotron.html
.vagrant

build
report


test-results.xml
