node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
bower_components
dist
/server/config/local.env.js
*.iml
coverage

npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.sample
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.ebextensions/*.private.config

client/components/bootstrap-override/*
!client/components/bootstrap-override/.empty

client/app/app.constants.js

server/config/local.env/*
!server/config/local.env/.empty
